html {
	background-color: #131313;
}
body {
	width: 100vw; height: 100vh; overflow: hidden;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body div {
	text-align: center;
}

h1 {
	color: #06ddec;
	font-size: 50px;
	margin-bottom: 0px;
}
h2 {
	color: #7c7c7c;
	margin-top: 0px;
	font-size: 20px;
}

ul {
	list-style: none;
	padding: 0;
}

p {
	font-weight: bold;
}