$eerie-black0: #161320;
$eerie-black1: #1a1826;
$eerie-black2: #1e1e2e;
$eerie-black3: #302d41;

$independence-gray0: #575268;
$independence-gray1: #6e6c7e;
$independence-gray2: #988ba2;
$independence-gray3: #c3bac6;

$azure-white: #d9e0ee;

$lavender0: #c9cbff;
$lavender1: #b5b7e6;
$lavender2: #9798bf;
$lavender3: #656680;
$lavender4: #323340;

$sky0: #8fe8f7;
$sky1: #89dceb;
$sky2: #79c4d1;
$sky3: #63a0ab;
$sky4: #3e646b;

$blue0: #96cdfb;
$blue1: #8fcdef;
$blue2: #7099ba;
$blue3: #49647a;
$blue4: #23303b;

$green0: #b3f5bc;
$green1: #abe9b3;
$green2: #97cf9e;
$green3: #7ba881;
$green4: #4c6950;

$begonia-red0: #fc6d6d;
$begonia-red1: #e36262;
$begonia-red2: #bd5151;
$begonia-red3: #7d3636;
$begonia-red4: #3d1a1a;

$pale2: #b5a6a3;
