@import '~assets/styles/fonts.css';

$light-background: #fff;
$light-primary: #000;
$light-secondary: #afafaf;

$dark-background: #181b23;
$dark-primary: #eaf3f2;
$dark-secondary: #697699;

$main-font: 'Red Display', arial, helvetica, sans-serif;
$secondary-font: 'Fira Code', monospace, sans-serif;
