@import '~assets/styles/fonts.css';
@import '~assets/styles/_colors.scss';

$light-background: $azure-white;
$light-primary: $eerie-black0;
$light-secondary: $independence-gray1;

$dark-background: $eerie-black1;
$dark-primary: $azure-white;
$dark-secondary: $eerie-black3;

$main-font: 'Red Display', arial, helvetica, sans-serif;
$secondary-font: 'Fira Code', monospace, sans-serif;

$checked-color: $green0;
$unchecked-color: $begonia-red0;
