@import '~assets/styles/_variables.scss';
@import '~assets/styles/_mixins.scss';

body {
	@include center;

	overflow: hidden;
	height: 100vh;
	width: 100vw;

	transition: background-color 0.3s;

	font-family: $main-font;
}

* {
	transition: all 0.3s;
	transition: color 0.01s;
}

.light-mode body {
	background-color: $light-background;
	color: $light-primary;
	* {
		stroke: $light-secondary;
	}
}

.dark-mode body {
	background-color: $dark-background;
	color: $dark-primary;
	* {
		stroke: $dark-secondary;
	}
}

/*
? Workaround with changing elements depending on the page's theme,
? probably there is a better way, using `v-if` and `v-else`, but apparently,
? it's doesn't work properly when the page is loaded multiple times.
*/
.dark-mode-element,
.light-mode-element {
	transition: display, opacity 0.01s;
}

.light-mode * .dark-mode-element {
	opacity: 0;
	height: 0;
	width: 0;
	display: none;
}
.dark-mode * .light-mode-element {
	opacity: 0;
	height: 0;
	width: 0;
	display: none;
}
